process {

    container = "suzannejin/scpropr@sha256:bfad0ddcdee5897ac01b0447bbd81836ec536f22472cc2a6463aa14d83af1537"

    withName: SAMPLE {
        publishDir = [
            path    : { "${params.outdir}/${dataset}/sample" },
            pattern : "*.csv.gz",
            mode    : 'copy'
        ]
        container  = "${container}"
    }
    withName: IMPUTE {
        publishDir = [
            path    : { "${params.outdir}/${dataset}/imputed" },
            pattern : "*withzero*.csv.gz",
            mode    : 'copy'
        ]
        container  = "${container}"
    }
    withName: BENCHMARK {
        publishDir = [
            path    : { "${params.outdir}/${dataset}/mse" },
            pattern : "mse_*.csv",
            mode    : 'copy'
        ]
        container  = "${container}"
    }
}